.card__instruction{
    width:100%;
    backGround-color: rgb(209, 209, 200);
    margin-top: 10px;


    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__inner{
    background-color: gray;
    width: 80%;
    height:80%;

}

.instructioncard__Container{
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 2px  rgb(209, 209, 200) solid;
    display: flex;
    justify-content: center;
    align-items: center;


}

